{% include vault_backend with context %}

{% if vault_telemetry_enabled %}
{% include vault_telemetry with context %}
{% endif %}

cluster_name = "{{ vault_cluster_name }}"

listener "tcp" {
  address = "{{ vault_config_listener_address}}:{{ vault_config_listener_port }}"
  {% if vault_tls_disable == True -%}
  tls_disable = {{ vault_tls_disable | lower }}
  {% else -%}
  tls_cert_file = "{{ vault_tls_dest_dir }}/{{ vault_tls_crt }}"
  tls_key_file = "{{ vault_tls_dest_dir }}/{{ vault_tls_key_file }}"
  {% endif %}
}

ui = true
